# Python / Server
venv/
pycache/
*.pyc
*.pyo
*.pyd
*.env

# Logs
logs/
*.log

# IDE / OS
.idea/
*.idea/
.vscode/
.DS_Store
Thumbs.db

# Android / Gradle

*.iml
.gradle/
build/
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
captures/
.externalNativeBuild
.cxx